@font-face {
  font-family: "Baskerville";
  src: url("BASKE9.ttf");
}

@font-face {
  font-family: "Dealers";
  src: url("Dealers\ -\ Solid.otf");
}

@font-face {
  font-family: "Montclar";
  src: url("Montclar.otf");
}
